.head{
    background-color: rgb(159, 184, 159);
    height: 80px;
    font-family: fantasy;
}

*{
    margin: 0;
    padding: 0;
}

.intro{
    text-align: center;
    margin-top: 50px;
    font-family:fantasy;
    background-color: rgb(250, 248, 246);
}

nav{
    text-align: right;
    /* background-color: rgb(159, 184, 159); */
    /* align-content:end; */
}

img{
    height: 500px;
    border: 0px;
}

img:hover{
    height: 200px;
}

.fa{
font-size: 40px;
padding: 15px;
text-decoration: none;
color: green;
}

a{
    text-decoration: none;
}

.projects{
    text-align: center;
    font-family: fantasy;
}

.myprojects{
    width: 250px;
}

.skills{
    text-align: center;
    font-family:fantasy;
    background-color: rgb(250, 248, 246);
    height: 400px;
    align-content: center;
}

.message{
    text-align: center;
    height: 400px;
    font-family: fantasy;
    align-content: center;
}

.ending{
    background-color: grey;
    text-align: center;
    height: 50px;
    color: white;
    /* align-items: center; */
    align-content: center;
}

.name{
    text-decoration: underline;
}
